<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Import failed</title>
  </head>

  <body>
    <h2>An import from {{provider}} to Solomon AI has failed</h2>
    <p>An import from
      {{provider}}
      to Solomon AI has failed due to unforeseen circumstances. Please re-try your import, and if the issue persists, you
      can contact the Solomon AI team at engineering@solomon-ai.co.
    </p>

    <p>Error: {{error}}</p>

  </body>

</html>